.profile .header {
  position: relative;
}

.profile .header .avatar {
  position: absolute;
  bottom: -50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.profile .body {
  padding-top: 50px;
}
